* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-colour: #800000;
    --second-colour: #DCAE96;
    --accent: #CF9B1E;
    --dark: #251212;
    --light: #ECEFF1;
}

body {
    font-family: 'Arvo', serif;
    background-color: var(--light);
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.main-header {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    width: auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    text-align: center;
}

.photo {
    width: 300px;
    height: 350px;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.photo-landscape {
    width: 300px;
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

/* ===== NAVIGATION BAR */

nav {
    display: flex;
    width: 100%;
    background-color: var(--main-colour);
    padding: 1em 0;
}

nav > a {
    flex-grow: 1;
    text-align: center;
}

.nav-link {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--second-colour);
}

.nav-link:focus,
.nav-link:hover {
    color: var(--accent);
    text-shadow: 2px 2px var(--dark);
}

/* ===== BUTTONS */

button {
    border: 0;
}

.btn {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.125rem;
    margin-top: 1.5em;
    border: 0;
    padding: 0.5em;
    width: 7.5em;
}

.btn-dark,
.btn-two {
    background-color: var(--main-colour);
    color: var(--second-colour);
    text-decoration: none;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-two:hover,
.btn-two:focus {
    background-color: var(--dark);
    color: var(--accent);
    text-decoration: none;
}

/* ===== FOOTER */

footer {
    background-color: var(--main-colour);
    color: var(--second-colour);
    text-align: center;
    padding: 1em 0;
}

/* ===== LANDING PAGE */

.section1-photo,
.section1-photo2,
.section1-photo3 {
    display: none;
}

.section1-container,
.section2-container {
    padding: 3em;
}

.section2-container {
    display: flex;
    background: var(--second-colour);
}

.section2-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.card-content {
    display: flex;
    align-items: center;
    padding: 0 1em;
    height: 20%;
    background: var(--light);
}

.dance-card {
    background: url(../Photos/Dance2.jpg);    
    background-size: cover;
    background-position-x: 40%;
}

.callig-card {
    background: url(../Photos/Callig3.jpg);
    background-size: cover;
}

.upskill-card {
    background: url(../Photos/Upskill2.jpeg);
    background-size: cover;
}

.card-link {
    display: none;
    color: var(--accent);
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
}

.card:hover {
    background: var(--dark);
}

.card:hover > .card-link {
    display: block;
}

/* ===== ABOUT ME */

.about-portrait {
    object-position: bottom;
    box-shadow: 10px 10px var(--main-colour);
    margin-bottom: 1.5em;
}

.about-portrait2,
.about-portrait3 {
    display: none;
}

.about-container {
    padding: 0 3em;
}

/* ===== BLOG LIST */

.blog-container {
    gap: 3em;
    padding: 3em;
}

.blog-container > .container > h1 {
    margin: 0;
}

/* ===== BLOG CONTENT */

.callig-container,
.dance-container,
.upskill-container {
    text-align: center;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-para {
    text-align: justify;
    padding-bottom: 0;
    margin-bottom: 2em;
    align-self: flex-start;
}

.callig-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.callig-btn {
    margin-top: 3em;
}

.dance-photo,
.upskill-photo2 {
    margin-bottom: 1em;
}

.dance-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin-bottom: 3em;
}

.upskill-photo {
    display: none;
}

/* ===== FORMS */

.contactme-container {
    background-color: var(--main-colour);
    color: var(--second-colour);
    width: 80%;
    text-align: center;
    margin: 3em auto 1em;
    padding: 2.5em;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 3em;
}

#name,
#email,
#number,
#message {
    font-family: 'Arvo', sans-serif;
    background-color: var(--second-colour);
    color: var(--main-colour);
    margin: 1em 0;
    border: 0;
    padding: 1em;
}

#message {
    height: 175px;
    margin-bottom: 2em;
}

form > *::placeholder {
    color: var(--main-colour);
    opacity: 50%;
}

/* ==================== MEDIA QUERIES ==================== */

@media (min-width: 800px) {

    /* ===== STANDARD CSS */

    .media-header {
        font-size: 3.5rem;
    }

    /* ===== LANDING PAGE */

    .main-container {
        display: grid;
        grid-template-columns: 2fr 1fr 3fr 1fr 2fr 6fr;
        grid-template-rows: 50px 150px 125px 75px 75px 150px 50px auto;
    }

    .section1-photo {
        display: block;
        grid-row: 3 / 6;
        grid-column: 2 / 5;
        max-height: 100%;
        z-index: -1;
    }

    .section1-photo2 {
        display: block;
        grid-row: 2 / 5;
        grid-column: 1 / 3;
    }

    .section1-photo3 {
        display: block;
        grid-row: 4 / 7;
        grid-column: 4 / 6;
    }

    .section1-container {
        grid-row: 1 / 8;
        grid-column: 6 / -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .section2-container {
        grid-row: 8 / -1;
        grid-column: 1 / -1;
        flex-direction: row;
        justify-content: space-around;
    }

    /* ===== ABOUT ME */

    .about-container {
        display: grid;
        grid-template-columns: repeat(2, 150px) repeat(2, 1fr) 400px;
        grid-template-rows: 75px auto 50px auto 75px;
        grid-gap: 1em;
    }

    .about-portrait {
        grid-row: 1 / 5;
        grid-column: 1 / 3;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .about-header {
        grid-row: 2 / 3;
        grid-column: 2 / 5;
        align-self: center;
        font-size: 5rem;
        margin: 0;
        padding: 0 1em;
        width: fit-content;
        background-color: var(--second-colour);
        box-shadow: 10px 10px var(--main-colour);
    }

    .about-details {
        grid-row: 3 / 5;
        grid-column: 3 / 5;
        align-self: center;
        text-align: justify;
        padding-left: 1.5em;
    }

    .about-portrait2 {
        grid-row: 4 / 6;
        grid-column: 5 / -1;
        display: block;
    }

    /* ===== BLOG */

    .blog-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 0;
        gap: 0;
    }

    .blog-photo-one {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .blog-content-one {
        grid-row: 1 / 2;
        grid-column: 2 / -1;
    }

    .blog-photo-two {
        grid-row: 2 / 3;
        grid-column: 4 / -1;
    }

    .blog-content-two {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
    }

    .blog-photo-three {
        grid-row: 3 / -1;
        grid-column: 1 / 2;
    }

    .blog-content-three {
        grid-row: 3 / -1;
        grid-column: 2 / -1;
    }

    .blog-photo-one,
    .blog-photo-two,
    .blog-photo-three {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .blog-content-one,
    .blog-content-two,
    .blog-content-three {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 3em;
    }

    .blog-content-two {
        background-color: var(--main-colour);
        color: var(--second-colour);
    }

    .btn-two {
        background-color: var(--second-colour);
        color: var(--main-colour);
    }

    .blog-para {
        padding-bottom: 3em;
    }

    /* ===== BLOG CONTENT */

    .dance-header,
    .upskill-header {
        color: var(--second-colour);
        background-color: var(--main-colour);
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
        padding: 0.5em 1.25em;
    }

    .callig-gallery {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .dance-container {
        display: grid;
        padding: 0;
        grid-template-rows: 1fr repeat(4, auto);
        grid-template-columns: 100px 1fr 100px;
    }

    .dance-photo {
        grid-row: 1 / 3;
        grid-column: 1 / 4;
        height: 55vh;
        object-fit: cover;
        object-position: 0 27.5%;
    }

    .dance-header {
        align-self: center;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .dance-para {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        margin-top: 2em;
        padding: 0 3em;
    }

    .dance-gallery {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 auto;
    }

    .dance-btn {
        grid-row: 5 / -1;
        grid-column: 2 / 3;
        margin: 3em;
    }

    .upskill-container {
        display: grid;
        grid-template-rows: 75px repeat(2, 75px) 250px 100px repeat(3, auto);
        grid-template-columns: 1.5fr repeat(2, 1fr) 3fr 2fr;
    }

    .upskill-photo {
        grid-row: 1 / 5;
        grid-column: 1 / 3;
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .upskill-photo2 {
        grid-row: 3 / 6;
        grid-column: 2 / -1;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0 72.5%;
    }

    .upskill-header {
        grid-row: 2 / 4;
        grid-column: 3 / -1;
    }

    .upskill-para {
        grid-row: 6 / 7;
        grid-column: 1 / -1;
        padding: 2em;
    }

    .upskill-btn {
        grid-row: 7 / -1;
        grid-column: 1 / -1;
    }

    /* ===== FORMS */

    .contactme-container {
        margin-bottom: 3em;
    }

    .form-container {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 75px);
        grid-gap: 2em;
    }

    #name {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    #email {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    #number {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    #message {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }

    #form-button {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
}